.n3-btn-primary{background-color: #54b4eb !important;border-color:#54b4eb !important}
.n3-btn-primary.n3-btn-active{background-color: #1684c2 !important;border-color:#1684c2 !important;}
.n3-nav-tabs-pills>li.n3-nav-tabs-active>a{background-color:#a7d2f5 !important;}
.n3-breadcrumb{padding: 0;}
.n3-breadcrumb>.n3-breadcrumb-active{color: #54b4eb}
.n3-form-control:focus{border:1px solid #54b4eb;outline:0}

.n3-datepicker-dateRange-item-active{background-color:#1684c2 !important;}
.n3-datepicker-dateRange span:hover{ background-color:#a7d2f5 !important; }
.n3-switch-on{background-color:#54b4eb !important;transition: background .55s ease-in-out,box-shadow .55s ease-in-out,color .55s ease-in-out,-webkit-box-shadow .55s ease-in-out;}
.n3-page-item-active{background-color: #1684c2 !important;border-color:#1684c2 !important;}